
      <script async="async" defer="true" charset="UTF-8" type="application/ld+json">
          {
          "@context":"http://schema.org",
          "@type": "AboutPage",
          "image": "{{featuredImageUrl}}",
          "url": "{{linkToThisPage}}",
          "headline": "{{headline}}",
          "inLanguage": "en-US",
          "author": {
            "@type": "Person",
            "name": "Andres Canavesi",
            "url": "https://www.javaniceday.com"
          },
          "mainEntityOfPage": "True",
          "keywords": "{{keywords}}",
          "about": "{{about}}",
          "publisher": {
            "@type": "Organization",
            "name": "Andres Canavesi"
           }
        }
      </script>



<div class="container">

 <h1>About Andrés Canavesi</h1>
	<h3>
		<small class="text-muted lead">{{description}}</small>
	</h3>
 <hr>

    <div class="d-lg-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <img  class="lozad img-thumbnail rounded-circle mx-auto d-block" src="https://res.cloudinary.com/dniiru5xy/image/upload/c_scale,w_900/v1590442770/javaniceday.com/andres-canavesi-linkedin-2021.jpg" width="200px" alt="Andrés Canavesi">

        </div>
        <div class="p-2 bd-highlight">
            Hi, I'm Andrés Canavesi from Montevideo, Uruguay. I'm a Software Engineer, 36 years old, with over 10 years
            of experience in software development, mainly Salesforce, Node.js and Java. I also worked in the past with
            Android, Objective-C, PHP and Ruby.
            <div>
                Get in touch through my networks:
                <br />
                <a href="https://www.linkedin.com/in/andrescanavesi/">https://www.linkedin.com/in/andrescanavesi/</a>
                <br />
                <a href="https://github.com/andrescanavesi">https://github.com/andrescanavesi</a>
            </div>
        </div>

    </div>





</div> <!-- END container -->
