

<h1 class="my-4">{{pageHeader}}</h1> <!-- used to display categories such as tags -->
  {{#each posts}}
	  <!-- Blog Posts -->
	  <div class="container">
		  <div class="row">
			  <div class="col-md-4 p-2">
				  <img class="lozad card-img-top"
				       src="{{this.default_thumb_loading_image}}"
				       data-src="{{this.thumb_image_url}}" alt="image post">
			  </div>
			  <div class="col-md-8 pl-2">
				  <h3 class="mb-0"><a href="/post/{{this.title_seo}}" class="text-decoration-none">{{this.title}}</a></h3>
				  <div class="lead text-muted">{{this.sub_title}}</div>
				  <div>
					  <a href="/post/about" class="text-decoration-none"><small>Andrés Canavesi</small></a>
					  <span class="text-muted"> - </span>
					  <small class="text-muted">{{this.created_at_friendly}}</small>
				  </div>
				  <div>{{this.summary}}</div>
			  </div>
		  </div>

	  </div>
	  <hr/>



  {{/each}}

