

  {{#each links}}
    <!-- Link list -->
    <div class="container">
	    <div class="row">
		    <div class="col-md-3 p-2">
			    <img class="lozad card-img-top"
			         src="{{this.default_thumb_loading_image}}"
			         data-src="{{this.featured_image_url}}" alt="image post">
		    </div>
		    <div class="col-md-9 pl-2">
			    <h3 class="mb-0"><a href="{{this.url}}" class="text-decoration-none">{{this.name}}</a></h3>
			    <div class="lead text-muted">{{this.sub_title}}</div>
			    <div><small class="text-muted">{{this.created_at_friendly}}</small></div>
			    <div>{{this.summary}}</div>
                <div>
                    {{#each this.tags_array}}
                        <a href="/tag/{{this}}" class="btn btn-secondary">{{this}}</a>
                    {{/each}}
                </div>
		    </div>

	    </div>
    </div>

    <hr/>

  {{/each}}

