 
 <!-- 
     TODO improve this based on this result:
        https://search.google.com/structured-data/testing-tool/u/0/?hl=es#url=https%3A%2F%2Fwww.hallaminternet.com%2Fadd-article-schema-markup-to-blog-posts%2F
 -->
      <script async="async" defer="true" charset="UTF-8" type="application/ld+json">
          {
          "@context":"http://schema.org",
          "@type": "BlogPosting",
          "image": "{{post.featured_image_url}}",
          "url": "{{post.linkToThisPage}}",
          "headline": "{{post.title}}",
          "dateCreated": "{{post.created_at_friendly_2}}",
          "datePublished": "{{post.created_at_friendly_2}}",
          "dateModified": "{{post.updated_at_friendly_2}}",
          "inLanguage": "en-US",
          "author": {
            "@type": "Person",
            "name": "Andres Canavesi",
            "url": "https://javaniceday.com"
          },
          "mainEntityOfPage": "True",
          "keywords": {{post.tags_array}},
          "articleBody": "{{post.content}}"
        }
      </script>
  


<div class="container">

     <!-- Title -->
 <h1>{{post.title}}</h1>

 <hr>

 <!-- Date/Time -->
 <p>Posted on {{post.created_at_friendly}}</p>

 <hr>

 <!-- Preview Image -->
 <img class="img-fluid rounded" src="{{post.featured_image_url}}" alt="Featured image">

 <hr>

 <!-- Post Content -->
 {{{post.content}}}
 
 <hr>

{{#if isAuthenticated}}
  <a href="{{post.url_edit}}">Edit post</a>
{{/if}}

    
</div>
